<div class="col-sm-4"/>
<div class="col-sm-4" align="center">
	<h2>Đăng nhập</h2>
    <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
    <br />
    <input class="btn btn-success" value="Đăng nhập quyền admin" ng-click="isAdmin = !isAdmin" type="button" />
    <br />
    <div class="row login-admin" ng-hide="!isAdmin">
        <form role="form" class="form-horizontal">
            <input type="text" class="form-control" placeholder="Tên tài khoản" data-ng-model="loginData.userName" required autofocus>
            <br />
            <input type="password" class="form-control" placeholder="Mật khẩu" data-ng-model="loginData.password" required>
            <br />
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </form>
    </div>
</div>
<div class="col-sm-4"/>