<div class="row product_title">
    <h2>
        <!-- @Model.Product.MODEL -->
        {{pro.product.MODEL}}
    </h2>
</div>
<div class="row product_main_info">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="product_view">
            <img src="./{{pro.product.PRODUCT_IMG}}" alt="image" width="200px" height="200px" border="2px" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="row top_border" style="padding: 10px 0px;">
            <p><span style="color: #3399FF;">Nhà sản xuất:</span> {{pro.NSX}}</p>
            <p><span style="color: #3399FF;">Mã sản phẩm:</span> {{pro.product.MODEL_ID}}</p>
            <p style="color: red;"><span style="color: #3399FF;">Tình trạng:</span> {{pro.Status}}</p>
        </div>
        <div class="row top_border" style="padding: 10px 0px;">
            <b style="color: red;">Giá: {{pro.product.PRICE | number}} VND (Đã có VAT)</b>
        </div>

        <p class="button">
            <img src="Content/images/giohang.jpg" />
            <a href="index.html#/addproduct/{{pro.product.PRODUCT_ID}}">Thêm vào giỏ hàng</a>
        </p>

        <div class="row top_bottom_border" style="padding: 10px 0px;">
            <h4><strong>Chúng tôi cam kết:</strong></h4>
            <b>1/ Vui lòng gọi hotline <span style="color: red;">(08)3999999</span> - EXT: 101 để có giá tốt nhất và tránh bị hết hàng khi đến mua.</b><br>
            <b>2/ Hỗ trợ trả góp lãi suất thấp, thủ tục đơn giản (CMND + GPLX), duyệt hồ sơ 10phút. Hotilne: <span style="color: red;">0969.696.696</span></b>
        </div>
    </div>
</div>
<br>
<div class="row product_description  ">
    <ul class="tabs" data-persist="true">
        <li><a href="#view1">Thông tin kỹ thuật</a></li>
        <li><a href="#view2">Mô tả</a></li>
        <li><a href="#view3">Đánh giá(0)</a></li>
    </ul>
    <div class="tabcontents">
        <div id="view1">
            <div class="product_details ">
                <table border="1" width="100%" cellpadding="4" cellspacing="3">
                    <tr>
                        <th colspan="2">
                            <b>Cấu hình chi tiết</b>
                        </th>
                    </tr>
                    <!-- @foreach(ATTRIBUTE attr in @Model.ListOfAttribute)
                    {
                        <tr>
                            <td>@attr.ATTRIBUTE_NAME</td>
                            <td>@attr.ATTRIBUTE_VALUE</td>
                        </tr>
                    } -->
                    <tr ng-repeat="x in pro.attribute">
                        <td>{{x.ATTRIBUTE_NAME}}</td>
                        <td>{{x.ATTRIBUTE_VALUE}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="view2">
            {{pro.product.DESCRIPTION }}
        </div>
        <div id="view3">
            <div class="block row">
                <p>Không có đánh giá cho sản phẩm này.</p>
            </div>
            <div class="block row">
                <p><strong>Viết đánh giá</strong></p><br>
                <b>Tên bạn:</b>
                <span><input type="text" placeholder="Nhập tên bạn..." style="margin-left: 5px; border: 1px solid #D4D4D4; background-color: #F8F8F8;" /></span>
                <br><br>
                <b>Đánh giá của bạn:</b>
                <textarea name="tex" placeholder="Đánh giá..." cols="40" rows="8" style="width: 98%; border: 1px solid #D4D4D4; background-color: #F8F8F8;"></textarea>
                <b>Vote:</b> <span>Kém</span>&nbsp;
                <input type="radio" name="rating" value="1" />
                &nbsp;
                <input type="radio" name="rating" value="2" />
                &nbsp;
                <input type="radio" name="rating" value="3" />
                &nbsp;
                <input type="radio" name="rating" value="4" />
                &nbsp;
                <input type="radio" name="rating" value="5" />
                &nbsp; <span>Tốt</span><br />
                <br />
            </div>
            <div class="block row">
                <button class="btn btn-default custom_button review_button" type="button">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>
<div class="row product_related ">
    <ul class="tabs" data-persist="true">
        <li><a href="#view1">Sản phẩm tương tự</a></li>
    </ul>
    <div class="tabcontents">
        <div id="view1">
            <div class="cat">
                <div class="cat-content">
                    <div ng-repeat="y in cat[0].listProduct">
                        <div class="product">
                            <div class="product-img">
                                <!-- <img src="@product.PRODUCT_IMG" alt=""> -->
                                <img src="{{y.PRODUCT_IMG}}" alt="">
                            </div>
                            <div class="product-info">
                                <!-- <a href="@Url.Action("Index", "ProductDetail", new { idProduct = @product.PRODUCT_ID })"> -->
                                <a href="index.html#/productdetail/{{y.PRODUCT_ID}}">
                                    <p class="product-name"><!-- @product.MODEL -->{{y.MODEL}}</p>
                                </a>
                                <p class="price"><!-- @product.PRICE -->{{y.PRICE | number}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>