@model MobileStore.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<style>
    .core-content {
        width: 100%;
    }
</style>
<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<div class="row">
    <div class="col-md-8">
        <section id="changePasswordForm">
            @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPasswordConfirm, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPasswordConfirm, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Đổi mật khẩu" />
                </div>
            </div>
            }
        </section>
    </div>
</div>