<!--@model MobileStore.ViewModels.OrderDetailViewModel
@using MobileStore.Models
@{
    ViewBag.Title = "Thông tin đơn đặt hàng";
}


<script>
    function goBack() {
        window.history.back();
    }
    function ReverseSubmit() {
        var url = document.getElementById("Reverse").value;
        window.location.href = url;
    }
</script>-->
<h2>Chi tiết hóa đơn</h2>
<div class="container">
    <section id="OrderDetail">
        <table class="table-striped" border="1">
            <thead>
                <tr>
                    <th style="padding-bottom:5px;padding-left:23px;">
                        Tên sản phẩm
                    </th>
                    <th style="padding-bottom:5px;padding-left:23px;">
                        Giá
                    </th>
                    <th style="padding-bottom:5px;padding-left:23px;">
                        Số lượng
                    </th>
                    <th style="padding-bottom:5px;padding-left:23px;">
                        Tổng
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="y in detail">
                    <td>
                        {{y.Name}}
                    </td>
                    <td style="text-align: right">
                        {{y.Price | number}}
                    </td>
                    <td style="text-align: right">
                        {{y.Quantity}}
                    </td>
                    <td style="text-align: right">
                        {{y.Total | number}}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <div class="row" style="margin-top:20px">
        <!--<div class="col-md-2">
            <input id="Reverse" type="hidden" />
            <div class="form-group">
                <input type="button" value="chưa thanh toán" onclick="thanhtoan()"/>
            </div>
        </div>-->

        <!--<div class="col-md-2">
            <div class="form-group">
                <input type="submit" value="Trở về" class="btn btn-default" onclick="goBack()" />
            </div>
        </div>-->
    </div>

</div>