<!DOCTYPE html>
<html>
<head>
    <meta content="text/html" charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="app/lib/nivo-slider/default.css" type="text/css">
    <link rel="stylesheet" href="app/lib/nivo-slider/nivo-slider.css" type="text/css">
    <link rel="stylesheet" href="app/css/style.css" type="text/css">
    <link rel="stylesheet" href="app/css/detail-page-style.css" type="text/css">
    <link rel="stylesheet" href="app/css/tabcontent.css" type="text/css">

    <!-- Add jQuery library -->
    <script type="text/javascript" src="app/lib/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="app/lib/nivo-slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="app/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="app/lib/numeral/numeral.min.js"></script>


    <!-- Add angular lib -->
    <script type="text/javascript" src="app/lib/angular/angular.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="app/script/angularjs-local-storage.min.js"></script>
    <script type="text/javascript" src="app/script/loading-bar.min.js"></script>
    <script type="text/javascript" src="app/lib/bootstrap/js/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <!-- Add main app -->
    <script type="text/javascript" src="app/js/app.js"></script>

    <!-- Add Service -->
    <script src="app/service/authInterceptorService.js"></script>
    <script src="app/service/authService.js"></script>
    <script src="app/service/ordersService.js"></script>
    <script src="app/service/shoppingService.js"></script>

    <!-- Add controller -->
    <script type="text/javascript" src="app/js/user/HomeController.js"></script>
    <script type="text/javascript" src="app/js/user/ShowProductByCategoryController.js"></script>
    <script type="text/javascript" src="app/js/user/ShoppingCartController.js"></script>
    <script type="text/javascript" src="app/js/user/ProductDetailController.js"></script>
    <script type="text/javascript" src="app/js/user/SignUpController.js"></script>
    <script type="text/javascript" src="app/js/user/LoginController.js"></script>
    <script type="text/javascript" src="app/js/user/IndexController.js"></script>
    <script type="text/javascript" src="app/js/user/OrdersController.js"></script>
    <script type="text/javascript" src="app/js/user/AddProductToShoppingCartController.js"></script>
    <script type="text/javascript" src="app/js/user/SearchController.js"></script>
    <script type="text/javascript" src="app/js/user/AssociateController.js"></script>
    

</head>
<body ng-app="mobileStoreApp">
    <div class="header" ng-controller="IndexController">
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="logo col-md-2">
                        <a href="index.html#/home"><img src="app/img/logo/logo.jpg" width="200" height="65" alt="logo" style="cursor: pointer;"></a>
                    </div>
                    <div class="search-bar col-md-4">
                        <div class="row">
                            <div class="input-group">
                                <input type="text" id="SearchBox" name="search" class="form-control" value="" placeholder="Tìm..." />
                                <span class="input-group-btn">
                                    <input type="submit" onclick="Search()" value="Tìm kiếm" class="btn btn-default search-button" />
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.row -->
                    </div>
                    <div class="cart col-md-4 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-1">
                                <img width="25px" src="app/img/giohang.jpg" />
                            </div>
                            <b class="col-md-6 cart-status"><a href="index.html#/shoppingcart">Giỏ hàng của bạn: </a>
                                <span id="ProductInCart">{{count}}
                                    <!--*@if(@Session["ProductInCart"] != null)
                                {
                                     @Session["ProductInCart"].ToString();
                                }
                                </span>)-->
                            </b>
                            <div class="col-md-5 log">
                               <b> 
                                <!--@if (Request.IsAuthenticated)
                                {
                                    <p>Xin chào, </p><a href="@Url.Action("Index", "ManageAccount", new { customername = User.Identity.Name }) ">@Html.Encode(User.Identity.Name)</a>
                                    <br />
                                    @Html.ActionLink("Đăng xuất", "LogOut", "Account")
                                }
                                else
                                {
                                    @Html.ActionLink("Đăng kí", "Register", "Account")
                                    <span> | </span>
                                    @Html.ActionLink("Đăng nhập", "Login", "Account")
                                }-->
                                   <a ng-hide="!authentication.isAuth" href="#">{{authentication.userName}}</a>
                                   <a ng-hide="authentication.isAuth" href="index.html#/signup">Đăng kí</a> |
                                   <a ng-hide="authentication.isAuth" href="index.html#/login">Đăng nhập</a>
                                   <a ng-hide="!authentication.isAuth" ng-click="logOut()">Đăng xuất</a>
                                </b>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="navigator container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active"><a href="index.html#/home">Trang chủ</a></li>
                            <li><a href="index.html#/showproductbycategory/2">Laptop</a></li>
                            <li><a href="index.html#/showproductbycategory/3">Máy tính bảng</a></li>
                            <li><a href="index.html#/showproductbycategory/1">Điện thoại</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="container content">
        <div ng-view>
        </div>
    </div>
    <div class="footer">
        <div class="container" style="text-align: center;">
            <h4>CÔNG TY XXX - CHUYÊN BÁN ĐIỆN THOẠI - MÁY TÍNH BẢNG - LAPTOP </h4>
            <p>Mọi chi tiết xin liên hệ (08)399.9999 - 0969.696.696</p>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });

    function Search() {
        var str = document.getElementById("SearchBox").value;
        if (str != "") {
            location.assign('index.html#/search/' + str);
        }
    }
</script>
</html>